<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @crush.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @crush.amount %>
</p>

<p>
  <b>Message:</b>
  <%= @crush.message %>
</p>


<%= link_to 'Edit', edit_crush_path(@crush) %> |
<%= link_to 'Back', crushes_path %>
