<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

<% if f.object.password_required? %>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
<% end %>

<%= f.fields_for :user_data do |t| %>
     <div class ="field">
        <%= t.label :type, "Are you an artist or listener?" %><br />
        <p> Artist: <%= t.text_field :type, "Profile::Type", :id => "user_data_type" %></p>
        <p> Listener: <%= t.text_field :value, "Profile::Value", :id => "user_data_value" %></p>
      </div>
  <% end %>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
