<h1>Listing featured_charities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Ein</th>
    <th>Fg uuid</th>
    <th>Cn</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @featured_charities.each do |featured_charity| %>
  <tr>
    <td><%= featured_charity.name %></td>
    <td><%= featured_charity.address %></td>
    <td><%= featured_charity.ein %></td>
    <td><%= featured_charity.fg_uuid %></td>
    <td><%= featured_charity.cn_id %></td>
    <td><%= featured_charity.image %></td>
    <td><%= link_to 'Show', featured_charity %></td>
    <td><%= link_to 'Edit', edit_featured_charity_path(featured_charity) %></td>
    <td><%= link_to 'Destroy', featured_charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Featured charity', new_featured_charity_path %>
