<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @featured_charity.name %>
</p>

<p>
  <b>Address:</b>
  <%= @featured_charity.address %>
</p>

<p>
  <b>Ein:</b>
  <%= @featured_charity.ein %>
</p>

<p>
  <b>Fg uuid:</b>
  <%= @featured_charity.fg_uuid %>
</p>

<p>
  <b>Cn:</b>
  <%= @featured_charity.cn_id %>
</p>

<p>
  <b>Image:</b>
  <%= @featured_charity.image %>
</p>


<%= link_to 'Edit', edit_featured_charity_path(@featured_charity) %> |
<%= link_to 'Back', featured_charities_path %>
